<%- include("header") %>

<form action="/edit-submit" method="post">
    <input type="hidden" name="index" value="<%= locals.index %>">
    <textarea name="postText"><%= locals.post %></textarea>
    <input type="submit" value="Save Changes">
</form>

<%- include("footer") %>