<!DOCTYPE html>
<html>
<head>
    <title>Header</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <div class="header-container">
        <h1> A simple blog application </h1>
        <a href="https://www.linkedin.com/in/gchristmas/"> My LinkedIn</a>
        <a href="https://github.com/GlennChristmas"> My GitHub</a>
    </div>