<form action="/submit" method="post">
    <input type="text" name="postText" placeholder="Share your thoughts here!">
    <input type="submit" value="Submit">
</form>


<% if (locals.postArray) { %>
    <% postArray.forEach((post) => { %> 
        <div>
            <body>
                <%=post %>
            </body>
        </div>
        <div>
            <form action="/edit" method="post">
                <input type="submit" value="Edit">
            </form>
        </div>
        <div>
            <form action="/delete" method="post">
                <input type="submit" value="Delete">
            </form>
        </div>
    <% }) %>
<% } %>