html * {
    font-family: Arial, sans-serif !important;
    background-color: #345995;
    color: white;
}

input{
    height: 20px;
    width: 100px;
    background-color: white;
    color: #345995;
    border-radius: 10px;
    border: 0;
}

.form-container{
    display: grid;
    justify-items: center;
    align-content: center;
}

.textarea-container{
    display: grid;
    justify-items: center;
    align-content: center;
    grid-template-columns: auto;
    grid-template-rows: 25px 250px;
    row-gap: 10px;
    padding-bottom: 20px;
}

textarea{
    width: 500px;
}

.post-view-container{
    display: grid;
    justify-items: center;
    align-content: center;
    margin: auto;
    text-align: justify;
    max-width: 500px;
    grid-template-rows: 25px auto 25px;
    row-gap: 20px;
}

.post-action-container{
    display: grid;
    justify-items: center;
    align-content: center;
    grid-template-columns: 125px 125px;
    grid-template-rows: 25px;
}