html * {
    font-family: Arial, sans-serif !important;
    background-color: #345995;
    color: white;
}

input{
    height: 20px;
    width: 100px;
    background-color: white;
    color: #345995;
    border-radius: 10px;
    border: 0;
}

.form-container{
    display: grid;
    justify-items: center;
    align-content: center;
}

.textarea-container{
    display: grid;
    justify-items: center;
    align-content: center;
    grid-template-columns: auto;
    grid-template-rows: 25px 250px;
    row-gap: 10px;
    padding-bottom: 20px;
}

textarea{
    width: 500px;
}

.post-view-container{
    display: grid;
    justify-items: center;
    align-content: center;
    margin: auto;
    text-align: justify;
    max-width: 500px;
    grid-template-rows: 25px auto 25px;
    row-gap: 20px;
}

.post-action-container{
    display: grid;
    justify-items: center;
    align-content: center;
    grid-template-columns: 125px 125px;
    grid-template-rows: 25px;
}

@media (min-width: 600px) {
    .header-container{
        display: grid;
        align-items: center;
        grid-template-columns: 10fr 1fr 1fr;
        height: 100px;
    }
}

.header-container{
    display: grid;
    align-items: center;
    grid-template-rows: 100px 50px 50px;
    row-gap: 10px;
    margin-bottom: 30px;
}

.link-button{
    display: flex;
    border-radius: 10px;
    color: white;
    background-color: #E40066;
    height: 50px;
    width: 100px;
    justify-content: center;
    align-items: center;
    border: solid;
    border-radius: 5px;
    border-color: white;
    margin: 5px;
    text-decoration: none;
}

.link-button:hover{
    background-color: #FB4D3D;
}

.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
}